.fahkwang-font {
  font-family: 'Fahkwang', sans-serif;
}

.gloria-hallelujah-font {
  font-family: 'Gloria Hallelujah', cursive;
}

.indie-flower-font {
  font-family: 'Indie Flower', cursive;
}

.ubuntu-font {
  font-family: 'Ubuntu', sans-serif;
}
